<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- NEED TO REMEMBER THAT WHEN U ACCESS CSS THAT YOU ACCESS CONTENT IN CONTEXT OF STATIC FOLDER --}}
    <link rel="stylesheet" href="styles.css">
    <title>Blog Posts</title>
</head>
<body>
    <div class="container">
        <h1 id="main-header">Blog Posts</h1>
        {{{body}}}
    </div>
</body>
</html>