<ul>
    {{#each posts}}
    <li>
        <h2>{{this.title}}</h2>
        <h4>Author: {{this.author}}</h4>
        <h6>@ {{this.time}}</h6>
        <p>{{this.body}}</p>
    </li>
    {{/each}}
</ul>
<h1 class="main-header">New Post</h1>
<form id="form" action="/posted" method="post">
    <label for="name">Author</label>
    <input id="post-author" name="author" type="text" placeholder="Your Name...">
    
    <label for="name">Title</label>
    <input id="post-title" name="title" type="text" placeholder="Your Post Title...">
    
    <label for="post">Write Your Post</label>
    <textarea id="post-body" name="body" cols="30" rows="10" placeholder="Your Post..." value="" style="resize: none"></textarea>
    
    <input id="submit-btn" class="btn" type="submit" value="Post">
</form>
<script src="main.js"></script>