body{
    background-color: lightcoral;
    margin: 0;
    padding: 0;
}
.container{
    width: 60%;
    margin: auto;
}
#main-header{
    color: #fff;
    text-align: center;
}
ul{
    list-style: none;
}
li{
    background-color: #fff;
    padding: 16px 30px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 5px;
}